header{
    display: flex;
    flex-wrap: wrap;
}

header h3{
    width: 50%;
}

header p{
    width: 50%;
    display: flex;
    justify-content: end;
}

.hide{
    display: none;
}

#welcome, #questions, #initials, #highscore{
    text-align: center;
}

#questions ul{
    list-style: none;
    text-justify: auto;
}