header {
    display: flex;
    flex-wrap: wrap;
}

header a {
    width: 50%;
}

header p {
    width: 50%;
    display: flex;
    justify-content: end;
}

button{
    color: white;
    background-color: purple;
    align-items: baseline;
}

.hide {
    display: none;
}

#intro-section,
#questions,
#initials,
#highscore {
    text-align: center;
}

#questions ul {
    list-style: none;
}

#title {
    display: inline-block;
    text-align: left;
}

#answer {
    font-style: italic;
}